#LIVERPOOL-PRODUCTOS
/node_modules

/dist

/.tmp
/.sass-cache

/bower_components
!bower_components/smoke/dist/js/smoke.js
!bower_components/smoke/dist/lang/es.js
!bower_components/smoke/dist/css/smoke.css
!bower_components/material-scrolltop/src/material-scrolltop.css
!bower_components/angular-block-ui/dist/angular-block-ui.js
!bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.js
!bower_components/jasny-bootstrap/dist/js/pdf.js
!bower_components/jasny-bootstrap/dist/js/pdf.worker.js

limpiar-repositorio.sh
/app/robots.txt
/.idea
