<div class="inmodal">
    <div class="modal-header-error" style="padding-top: 1px;">
        <h2 style="font-size: 16px;"><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;{{titulo}}</h2>
    </div>
    <div class="modal-body">
        <div class="row">
            <form role="form">
                <br>
                <div class="row">
                    <div class="col-lg-12" class="form-group">
                        <h5 style="font-size: 14px;" ng-bind-html="mensaje"></h5>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="cerrar()" class="btn btn-error btn-sm btn-outline"><span class="" style="font-weight: inherit;" >Cerrar</span></button>
    </div>
</div>
