<!--<nav class="navbar navbar-default white-bg" ng-controller="AutenticacionCtrl">
    <div class="row">
        <div class="col-lg-12 col-md-12">

        </div>
    </div>
</nav>-->

<div class="footer">
    <div class="hidden-sm-xs">
        <div class="pull-right">
            Versión 1.0
        </div>
        <div class="text-center">
            Mario Pani 200, Lomas de Santa Fe, Contadero, 01219 Ciudad de México, CDMX | Teléfono: 01 55 5268 3000
        </div>
    </div>
    <div class="hidden-bg">
        <div class="text-center" style="font-size: 8px;">
            Mario Pani 200, Lomas de Santa Fe, Contadero, 01219 Ciudad de México, CDMX | Teléfono: 01 55 5268 3000
        </div>
        <div class="text-center" style="font-size: 8px;">
            Versión 1.0
        </div>
    </div>
</div>
