<!--<div id="nav-wrapper">
    <ul id="nav">
        <li><a href="#/about"> <i class="fa fa-dollar"><span class="icon-bg bg-primary"></span></i><span data-i18n="Mi Patrimonio"></span> </a></li>
        <li>
            <a href="#/hogar"><i class="fa fa-home"><span class="icon-bg bg-danger"></span></i><span data-i18n="Mi Hogar"></span></a>
        </li>
        <li>
            <a href="#/gmm"><i class="fa fa-stethoscope"><span class="icon-bg bg-success"></span></i><span data-i18n="Gastos Médicos"></span></a>
        </li>
        <li>
            <a href="#/profile"><i class="fa fa-user"><span class="icon-bg bg-info"></span></i><span data-i18n="Mi Cuenta"></span></a>
        </li>
    </ul>
</div>-->
