<div id="sticky-anchor" class="hidden-sm-xs"></div>
<div class="hidden-sm-xs" id="sticky"></div>
<div id="sticky-anchor-sm-xs" class="hidden-bg"></div>
<div class="hidden-bg" id="sticky-sm-xs"></div>
<div class="wrapper animated fadeInDown" ng-controller="BusquedaCtrl">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <hr/>
          <h5 class="text-liverpool no-background" style="margin-bottom: 0px;">FILTRA LOS RESULTADOS</h5>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
            <h2 class="text-liverpool no-background" style="margin-bottom: 0px;"><span>Resultados de tu b&uacute;squeda:</span></h2>


            <div class="wrapper wrapper-content animated fadeInRight">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-liverpool">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box active">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>






                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            <!-- <ul class="shop-list product-list">
                <li class="product-cell producto-modulo">
                    <div class="product-thumb">
                        <a href="/tienda/tarro-la-porcellana-bianca-momenti/10000016827?s=porcellana" title="Tarro La Porcellana Bianca Momenti">
                            <span class="product-thumb-casing">
                                <img id="10000016827" alt="" class="product-thumb" height="250" src="//ss307.williams-sonoma.com.mx/lg/10000016827.jpg" width="250" onerror="this.onerror=null;this.src='//assets.williams-sonoma.com.mx/assets/multisites/williamsonoma/images/fillers/img_no_disponible2.jpg';">
                            </span>
                        </a>
                        <a class="quick-view fancybox.iframe" href="/tienda/browse/modal-quicklook.jsp?maximumListPrice=&amp;salePrice=199.0+&amp;listPrice=199.0&amp;minimumPromoPrice=&amp;productType=Soft+Line&amp;maximumPromoPrice=&amp;longDescription=Tarro+La+Porcellana+Bianca+Momenti&amp;count=1&amp;actionPath=/tarro-la-porcellana-bianca-momenti/10000016827%3Fs%3Dporcellana&amp;minimumListPrice=&amp;largeImage=//ss307.williams-sonoma.com.mx/lg/10000016827.jpg&amp;productID=10000016827&amp;skuId=1061405379&amp;displayName=Tarro+La+Porcellana+Bianca+Momenti&amp;promoPrice=">
                            <span class="quicklook-link">Vista rápida</span>
                        </a>
                    </div>

                    <a href="/tienda/tarro-la-porcellana-bianca-momenti/10000016827?s=porcellana" title="Tarro La Porcellana Bianca Momenti">
                        <span class="product-name">Tarro La Porcellana Bianca Momenti</span>
                    </a>

                    <div class="col-banderas-precio-comprar col-modulo">
                        <div class="subset-pricing plp-prices">
                            <span class="product-price two-prices">
                                <span class="product-price single-price standard-price">
                                    <span class="currency-symbol">$</span><span class="price-amount">199</span>
                                </span>
                                <span itemprop="offers" style="display:none" itemscope="" itemtype="http://schema.org/Offer">
                                    <meta itemprop="priceCurrency" content="MXN">
                                    <link itemprop="availability" href="http://schema.org/InStock">
                                    <span itemprop="price" content="199,00">$199.00</span>
                                </span>
                            </span>
                            <span class="flagsflags flags-padding"></span>
                        </div>
                        <a class="view-promos fancybox-ws-content" onclick="showProductPromotions('/tienda','10000016827','199.0 ','199.0','//ss307.williams-sonoma.com.mx/sm/10000016827.jpg','','','1','','','','');" href="#promotions"> <span class="viewp">Ver promociones</span>	</a>
                    </div>
                </li>
            </ul> -->






        </div>
    </div>
</div>
