<div ng-controller="BusquedaCtrl">
<nav style="width:100%; box-shadow: 2px 10px 15px #cccccc;" class="navbar navbar-default white-bg">
    <div class="row" style="overflow-x:hidden">
        <div class="col-lg-1 col-md-1 col-sm-2" style="padding-bottom:30px">
            <div class="container-fluid">
                <div class="text-right">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navHeader" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand dynamic-big-sc" style="margin-left: -15px; margin-top: 5px;">
                        <img src="images/liverpool.png" width="200px" id="imgLogo" name="imgLogo" class="text-center"></img>
                    </a>
                    <a class="navbar-brand dynamic-small-sc" style="margin-left: -10px; margin-top: 18px;">
                      <img src="images/liverpool.png" width="170px" id="imgLogo" name="imgLogo"></img>
                   </a>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 dynamic-big-sc-nav" style="margin-top: -5px;">
            <div class="collapse navbar-collapse text-center menu-header-padding">
                <ul class="nav navbar-nav">
                    <li><a>
                        <div class="search-form" style="margin-right: -150px">
                            <!-- <form action="index.html" method="get"> -->
                            <form id="formBusquedaResp" name="formBusquedaResp" data-smk-icon="glyphicon-remove-sign">
                                <div class="input-group">
                                    <input id="txtNomProducto" name="txtNomProducto" type="text" class="form-control input-lg" ng-model="s">
                                    <div class="input-group-btn">
                                        <button class="btn btn-lg btn-liverpool" id="btnBuscarResp" name="btnBuscarResp" type="button" ng-click="recuperarProductos()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-3 dynamic-big-sc-nav" style="margin-top: 0px;">
            <div class="collapse navbar-collapse text-center menu-header-padding">
                <ul class="nav navbar-nav navbar-right" style="margin-right: -10px">
                    <li><a ng-click="logout()"><h3><i class="fa fa-money"></i> Mis pedidos</h3></a></li>
                    <li><a ng-click="logout()"><h3> |</h3></a></li>
                    <li><a ng-click="logout()"><h3><i class="fa fa-user"></i> Iniciar sesión</h3></a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 dynamic-small-sc-nav">
            <div class="collapse navbar-collapse text-center " id="navHeader">
                <ul class="nav navbar-nav" data-toggle="collapse" data-target="#navHeader">
                    <li><a ng-click="logout()"><h3><i class="fa fa-money"></i> Mis pedidos</h3></a></li>
                    <li><a ng-click="logout()"><h3><i class="fa fa-user"></i> Iniciar sesión</h3></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div id="sticky-anchor" class="hidden-sm-xs"></div>
<div class="hidden-sm-xs" id="sticky"></div>
<div id="sticky-anchor-sm-xs" class="hidden-bg"></div>
<div class="hidden-bg" id="sticky-sm-xs"></div>
<div class="wrapper animated fadeInDown">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
          <hr/>
          <h5 class="text-liverpool no-background" style="margin-bottom: 0px;">FILTRA LOS RESULTADOS</h5>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-6 col-xs-12">
            <h2 class="text-liverpool no-background" style="margin-bottom: 0px;"><span>Resultados de tu b&uacute;squeda:</span></h2>

            <div class="wrapper wrapper-content animated fadeInRight">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-liverpool">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box active">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>






                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="product-imitation">
                                            [ INFO ]
                                        </div>
                                        <div class="product-desc">
                                            <span class="product-price">
                                                $10
                                            </span>

                                            <a href="#" class="product-name"> Product</a>
                                            <div class="m-t text-righ">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
</div>
